{% extends "layout.html" %}

{% block content %}
<main class="p-4 m-5 fw-bold">
    <h2>about</h2>
    <p class="lead container p-4 my-5">The goals of this project is to develop a CRUD system that allows the user to manipulate the content presented in the catalog. If you can see this message the project is still in development.</p>
    <p class="lead container my-5">The photos of birds used in this project are entirely the property of the same person. <br> You can visit my ig profile <a href="https://www.instagram.com/_filipchi_/">Filipchi</a> </p>

</main>
{% endblock %}