{% extends "layout.html" %}

{% block content %}
<main class="p-3 m-4">

    <h2 class="p-4 m-5 fw-bold">Birds Catalog</h2>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="../static/assets/azulejo.png" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Azulejo</h5>
                    <h6 class="fs-6 fst-italic fw-lighter">(Thraupis Episcopus)</h6>
                    <p class="card-text text-start">Alimentación: Insectos, frutas</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../static/assets/barranquero.png" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Barranquero Andino</h5>
                    <h6 class="fs-6 fst-italic fw-lighter">(Momotus Aequatorialis)</h6>
                    <p class="card-text text-start">Alimentación: Insectos, semillas, mamíferos pequeños</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../static/assets/bichofue.png" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Bichofué Menor</h5>
                    <h6 class="fs-6 fst-italic fw-lighter">(Pitangus Lictor)</h6>
                    <p class="card-text text-start">Alimentación: Insectos, semillas y frutas</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../static/assets/cucu.png" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Cuclillo Piquigualdo</h5>
                    <h6 class="fs-6 fst-italic fw-lighter">(Coccyzus americanus)</h6>
                    <p class="card-text text-start">Alimentación: Insectos, huevos y frutos</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../static/assets/euphonia.png" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Azulejo</h5>
                    <h6 class="fs-6 fst-italic fw-lighter">(Crotophaga ani)</h6>
                    <p class="card-text text-start">Alimentación: Insectos, Semillas </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../static/assets/garrapatero.png" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Garrapatero</h5>
                    <h6 class="fs-6 fst-italic fw-lighter">(Crotophaga ani)</h6>
                    <p class="card-text text-start">Alimentación: Insectos, Semillas </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../static/assets/gavilan.png" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Gavilán Pollero</h5>
                    <h6 class="fs-6 fst-italic fw-lighter">(Rupornis magnirostris)</h6>
                    <p class="card-text text-start">Alimentación: Insectos, reptiles y mamíferos pequeños </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../static/assets/gris.png" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Cenzontle Tropical</h5>
                    <h6 class="fs-6 fst-italic fw-lighter">(Mimus Gilvus)</h6>
                    <p class="card-text text-start">Alimentación: Insectos, semillas </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../static/assets/mielero.png" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Mielero Común</h5>
                    <h6 class="fs-6 fst-italic fw-lighter">(Coereba Flaveola)</h6>
                    <p class="card-text text-start">Alimentación: Néctar, frutos pequeños y insectos</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../static/assets/palmero.png" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Azulejo Palmero</h5>
                    <h6 class="fs-6 fst-italic fw-lighter">(Thraupis palmarum)</h6>
                    <p class="card-text text-start">Alimentación: Semillas y frutas</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../static/assets/rayado.png" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Sirirí Rayado</h5>
                    <h6 class="fs-6 fst-italic fw-lighter">(Myiodinastes Maculatus)</h6>
                    <p class="card-text text-start">Alimentación: Insectos, pequeños reptiles, frutas</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../static/assets/siriri.png" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Sirirí Común</h5>
                    <h6 class="fs-6 fst-italic fw-lighter">(Tyranus Melancholicus)</h6>
                    <p class="card-text text-start">Alimentación: Insectos, Semillas </p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}